.grid-container {
    display:grid;
    grid-template-columns:1.5fr 0.5fr 2fr 1fr;
    grid-template-rows:1fr;
    background-color: #e4f9f5;
}
@media (max-width:600px) {
    .grid-container {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}
.section2 {
    display:flex;
    align-items:center;
    font-family: 'Bodoni Moda', serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
}
.lead {
    font-weight:400;
}
.nav-item :hover {
    color:blue;
    text-decoration: underline;
}
.nav-item {
    padding-right:20px;
}
